html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.robot-message {
    color: red;
}

.human-message {
    color: blue;
}

.messages-field {
    width: 100%;
    height: 80vh;
    border-bottom: 1px, solid;
}

@media screen and (min-width: 1400px) {
    .chat-list {
        width: 10%;
        height: 95vh;
        overflow: hidden;
        color: #fff;
        background-color: midnightblue;
        display: flex;
        flex-direction: column;
    }
    
    .add-button {
        color: #fff;
        background-color: #169137;
    }

    .remove-button {
        color: #fff;
        background-color: red;
    }
}

@media screen and (max-width: 1400px) {
    .chat-list {
        display: none;
    }

    .add-button {
        display: none;
    }

    .remove-button {
        display: none;
    }
}


.chat-list a:link {
    color: #fff;
    text-decoration: none;
}

.chat-list a:visited {
    color: #fff;
    text-decoration: none;
}

.chat-list a:active {
    color: #fff;
    text-decoration: none;
}

.chat-list a:hower {
    color: #fff;
    text-decoration: none;
}

.main-area {
    width: 88%;
    padding-left: 20px;
}

.header {
    height: 100%;
    margin-top: 0px;
    color: #fff;
    background-color: navy;
    display: flex;
    align-items: center;
}

.header a:link {
    color: #fff;
    text-decoration: none;
}

.header a:visited {
    color: #fff;
    text-decoration: none;
}

.header a:active {
    color: #fff;
    text-decoration: none;
}

.header a:hower {
    color: #fff;
    text-decoration: none;
}

.header-element {
    margin-left: 20px;
}

.input-form {
    width: 100%;
    display: flex;
}

.controls-block {
    width: 100%;
    margin: auto auto 50px;
}

.control-button {
    width: 50%;
    display: block;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.control-button:not(:first-child) {
    margin-top: 10px;
}

@media screen and (min-width: 1440px) {
}





.profile__input-field:not(:first-child) {
    margin-top: 20px;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.input-form-button:not(:first-child) {
    margin-left: 15px;
}