html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.robot-message {
    color: red;
}

.human-message {
    color: blue;
}


.messages-field {
    width: 100%;
    height: 80vh;
    border-bottom: 1px, solid;
    
}

.chat-list {
    width: 10%;
    height: 95vh;
    overflow: hidden;
    color: #fff;
    background-color: midnightblue;
}

.chat-list a:link {
    color: #fff;
    text-decoration: none;
}

.chat-list a:visited {
    color: #fff;
    text-decoration: none;
}

.chat-list a:active {
    color: #fff;
    text-decoration: none;
}

.chat-list a:hower {
    color: #fff;
    text-decoration: none;
}

.main-area {
    width: 88%;
    padding-left: 20px;
}

.header {
    height: 100%;
    margin-top: 0px;
    color: #fff;
    background-color: navy;
    display: flex;
    align-items: center;
}

.header a:link {
    color: #fff;
    text-decoration: none;
}

.header a:visited {
    color: #fff;
    text-decoration: none;
}

.header a:active {
    color: #fff;
    text-decoration: none;
}

.header a:hower {
    color: #fff;
    text-decoration: none;
}


.header-element {
    margin-left: 20px;
}


.input-form {
    width: 100%;
    display: flex;
}